<% provide(:title, "Home") %>
  <main class="px-3">
  <h1>Welcome to EnduroIsHard App</h1>
    <p class="lead"> If you pro..</p>
    <p class="lead">
      <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary" %>
    </p>
  </main>